<!DOCTYPE html>
<html ng-app="bballApp">
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script> 
    <script src="services/database.js"></script>
    <script src="services/util.js"></script>
    <script src="app.js"></script>
    <script src="shotChart/shotChart.js"></script>
    <script src="form/form.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script> 
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>    
    <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
  </head>
  <body>
    <h1>
      BASKETBALL VIZ
    </h1>
    <div class="row">
      <form class="col s12" ng-controller="FormController">
        <div class="row">
          <div input-field class="player-select">
          <md-autocomplete
            md-selected-item="player"
            md-selected-item-change="selectedItemChange(item)"
            md-search-text="searchText"
            md-search-text-change="searchTextChange(searchText)"
            md-items="item in getMatches(searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Search for a player">
              <md-item-template>
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-item-template>
              <md-not-found>No matches found.</md-not-found>
          </md-autocomplete>
          </div>
          <select ng-model="select.year" material-select>
            <option value="" disabled selected>Season</option>
            <option ng-repeat="season in seasons" value="{{season.value}}">{{season.displayName}}</option>
          </select>
          <select ng-model="select.statType" material-select>
            <option value="" disabled selected>Chart Type</option>
            <option value="shotChart">Shot Chart</option>
            <option value="assistGraph">Assist Graph</option>
          </select>
          <button id='submit' ng-click="inputHandler()" class="waves-effect waves-light btn">
            Submit
          </button>
          <img src="assets/loading-spinner.gif" class="loading-gif hidden"/>
        </div>
      </form>
    </div>
    <div ui-view></div>
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
  </body>
</html>
