<!DOCTYPE html>
<html ng-app="bballApp">
  <head>    
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script> 
    <script src="bower_components/angular-animate/angular-animate.js"></script> 
    <script src="bower_components/angular-material/angular-material.min.js"></script> 
    <script src="services/database.js"></script>
    <script src="services/util.js"></script>
    <script src="app.js"></script>
    <script src="shotChart/shotChart.js"></script>
    <script src="form/form.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  </head>
  <body>
    <h1>
      Basketball Viz
    </h1>
    <form class="pure-form" ng-controller="FormController">
      <md-autocomplete
        md-selected-item="player"
        md-selected-item-change="selectedItemChange(item)"
        md-search-text="searchText"
        md-search-text-change="searchTextChange(searchText)"
        md-items="item in getMatches(searchText)"
        md-item-text="item.display"
        md-min-length="0"
        placeholder="Search for a player">
          <md-item-template>
            <span md-highlight-text="searchText">{{item.display}}</span>
          </md-item-template>
          <md-not-found>No matches found.</md-not-found>
      </md-autocomplete>
      <!-- <input ng-model="player" type="text" placeholder="Find a player"></input> -->
      <select ng-model="year">
        <option ng-repeat="season in seasons" value="{{season.value}}">{{season.displayName}}</option>
      </select>
      <select ng-model="statType">
        <option>Select a stat type</option>
        <option value="shotChart">Shot Chart</option>
        <option value="assistGraph">Assist Graph</option>
      </select>
      <button id='submit' ng-click="inputHandler()" class="pure-button pure-button-primary">
        Submit
      </button>
    </form>
    <div ui-view></div>


  </body>
</html>
