h1 {
  font-weight: 600;
  margin-left: 20px;
}

.hidden {
  display: none;
}

.loading-gif {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 17px;
  margin-left: 20px;
}

.dropdown-content {
  overflow-y: scroll !important;
}

.player-select {
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.input-field input[type=search] {
  padding-left: 10px;
  background-color: white;
}

.select-field {
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
